<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>UL - Social Sentiments</title>

        <link rel="stylesheet" href="/static/css/livefeed.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>

    <body>
        <div class="topbar">
            <a href="/?src=g_header">
                <img src="https://cdn2.urbanladder.com/media/logos/logo_new.png?1447231457" alt="Logo new">
            </a>
            <h1 class="title">Social feed</h1>
            <hr/>
        </div>
        <div class="wrapper">
            <div class="columns" id="columns"></div>
        </div>

        <script src="/static/js/livefeed.js"></script>
    </body>
</html>
